header {
    height: 50px;
    h1 {
        font-size: 30px;
        text-align: center;
    }
}

main {
    height: 500px;
}

.footer {
    text-align: center;
    &_ul {
        li {
            width:25%;
            float: left;
        }
    }
    &-hover{

    }
}
